@font-face {
  font-family: "din";
  src: url(../../fonts/DINPro-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "din";
  src: url(../../fonts/DINPro-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url(../../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}