.wrap {
  max-width: 940px;
  margin: 0px auto;
  padding: 0px 20px;
}

* {
  transition: 0.3s;
}

.preload {
  position: absolute;
  z-index: 100;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: none;
}
.preload__inner {
  background: url(../../img/bg.jpg) #057AF0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  animation: preload 20s;
}
.preload--closed {
  display: none;
}
.preload--closeAnim {
  animation: preloadClose 0.5s;
}

.btn {
  display: block;
  min-height: 30px;
  background: #000424;
  color: #004257;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "din";
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #001A37;
}
.btn:hover {
  color: #f5f5f5;
  background: #001A37;
}
.btn:hover .btn__plus {
  border-color: #f5f5f5;
  color: #f5f5f5;
}
.btn__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  line-height: 24px;
  width: 24px;
  font-size: 34px;
  border: 1px solid #004257;
  color: #004257;
  border-radius: 50%;
  padding-bottom: 5px;
}

.primary-btn {
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(0deg, #C9051C 0%, #FF0021 100%);
  text-transform: uppercase;
  font-family: "din";
  font-weight: 300;
  padding: 10px 13px;
  margin: 0px 10px;
  max-width: -webkit-min-content;
  max-width: min-content;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 0 10px #FF001F;
}
.primary-btn:hover {
  background-image: linear-gradient(0deg, #FF001F 0%, #FF001F 100%);
}
.primary-btn--main {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 330px;
  width: 100%;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-btn--main:before {
  position: absolute;
  content: "";
  display: block;
  border-radius: 7px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 3px dotted #fff;
}

.title {
  color: #FFF323;
  font-size: 34px;
  font-family: "din";
  font-weight: bold;
}
.title--big {
  font-size: 40px;
}

.subtitle {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-family: "din";
  font-weight: 300;
}

.content {
  height: 100vh;
  min-height: 100vh;
  background: url(../../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
}
.header__nav {
  display: flex;
  margin-bottom: 5px;
}

.main {
  margin: auto 0;
}
.main__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.main__timer {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-family: "din";
  font-weight: 300;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #FF001F;
}
.main__content {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url(../../img/banner-left.png);
  background-size: 60%;
  background-position: center 35%;
  background-repeat: no-repeat;
  max-width: 480px;
  min-width: 480px;
}
.main__subtitle {
  margin-bottom: 5px;
}
.main__title {
  margin-bottom: 150px;
}
.main__title--second {
  margin-bottom: 10px;
}
.main__sub {
  font-size: 9px;
  margin-top: 10px;
  color: #fff;
  font-family: "din";
  font-weight: 300;
}
.main__img {
  max-width: 400px;
  flex-shrink: 5;
  width: 100%;
}
.main__img img {
  width: calc(100% + 40px);
  margin-left: -40px;
  margin-bottom: -100px;
  margin-top: -30px;
  animation: fly 4s infinite;
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animArrow {
  0% {
    left: -15px;
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}
@keyframes preload {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes preloadClose {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.steps {
  font-family: "din";
}
.steps__wrap {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.steps__item {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 48px;
  position: relative;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 48px;
  margin-right: 10px;
  margin-left: -20px;
  background: url(../../img/svg/arrow-row.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.steps__item:first-child {
  margin-left: 10px;
}
.steps__item:last-child {
  margin-right: 10px;
}
.steps__item:before {
  content: "";
  position: absolute;
  display: block;
  height: 60px;
  width: 50px;
  background: url(../../img/svg/arrow.svg);
  background-size: 150%;
  background-position: 40%;
  background-repeat: no-repeat;
  left: -15px;
  top: -6px;
}
.steps__item:after {
  content: "";
  position: absolute;
  display: block;
  height: 60px;
  width: 50px;
  background: url(../../img/svg/arrow.svg);
  background-size: 150%;
  background-position: 40%;
  background-repeat: no-repeat;
  right: -25px;
  top: -6px;
}
.steps__title {
  color: #057AF0;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.steps__text {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  margin: 0px auto;
  width: 170px;
}
.steps__subtitle {
  font-size: 10px;
  color: #fff;
  line-height: 2px;
  display: block;
  line-height: 10px;
  text-transform: uppercase;
}
.steps__icon {
  display: none;
}
.steps__icon img {
  margin-right: auto;
  display: block;
}

.animated-arrow {
  position: absolute;
  display: block;
  height: 60px;
  width: 50px;
  background: url(../../img/svg/arrow.svg);
  background-size: 150%;
  background-position: 40%;
  background-repeat: no-repeat;
  left: -15px;
  top: -6px;
}
.animated-arrow__anim {
  animation: animArrow 1s;
}

.icons__wrap {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.icons__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
  width: 100%;
  font-size: 30px;
  color: #057AF0;
}
.icons__row a {
  margin: 0px 5px;
  text-decoration: none;
  color: inherit;
}

.payment {
  position: relative;
  z-index: 2;
}
.payment__wrap {
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.payment__col {
  display: flex;
  align-items: center;
}
.payment__col img {
  margin: 0px 6px;
}
.payment__btn {
  max-width: 150px;
  width: 100%;
  font-size: 11px;
}

.footer {
  font-family: "roboto";
  font-weight: 400;
  background: #000424;
  color: #004257;
  font-size: 10px;
  max-height: 45px;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}