@media screen and (max-width: 870px){

    .title{
        font-size: 28px;
        &--big{
            font-size: 32px;
        }
    }

    .primary-btn{
        &--main{
            max-width: 300px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .subtitle{
        font-size: 16px;
    }

    .main{
        &__content{
            max-width: 370px;
            min-width: 370px;
            background-size: 70%;
            background-position: center 35%;
        }
    }
}

@media screen and (max-width: 700px){

    .content{
        height: auto;
        overflow: hidden;
    }

    .main{
        max-height: unset;
        &__wrap{
            flex-direction: column-reverse;
        }

        &__content{
            min-width: unset;
        }

        &__img{
            img{
                margin: 0;
                margin-bottom: -100px;
                margin-top: -30px;
            }
        }
    }

    .payment{
        &__wrap{
            flex-wrap: wrap;
        }

        &__btn{
            order:1;
            margin: 0px auto;
            margin-bottom: 10px;
            max-width: 360px;
        }

        &__col:first-child{
            order: 2;
        }

        &__col:last-child{
            order: 3;
        }

    }
}

@media screen and (max-width: 525px){
    .header{
        &__wrap{
            flex-direction: column;
            align-items: center;
        }

        &__nav{
            display: grid;
            grid-template-columns: 70px 1fr 70px;
        }

        &__logo{
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width:420px){

    .wrap{
        padding-right: 10px;
        padding-left: 10px;
    }

    .main{
        &__img {
            img{
                margin-bottom: -60px;
            }
        }

        &__title{
            margin-bottom: 120px;
        }

        &__sub{
            font-size: 6px;
        }
    }

    .primary-btn{
        margin: 0px 5px;
        &--main{
            font-size: 16px;
            max-width: 200px;
        }
    }

    .title{
        font-size: 24px;
    }

    .subtitle{
        font-size: 12px;
    }
}